<div class="container-fluid cajon">
  <div class="titulos">
    Grupos Familiares
  </div>
  <div>
    <button mat-stroked-button class="botones">Crear grupo familiar</button>
  </div>
  <div class="grupos">
    <mat-card class="tarjetas">
      <mat-card-title>Familia Lopez</mat-card-title>
      <mat-card-subtitle>3 miembros</mat-card-subtitle>
      <mat-card-content>
        <p>• Nora Sanchez (Esposa)</p>
        <p>• Alberto Lopez (Hijo)</p>
        <p>• Jose Lopez (Abuelo)</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="tarjetas">
      <mat-card-title>Familia Sanchez</mat-card-title>
      <mat-card-subtitle>2 miembros</mat-card-subtitle>
      <mat-card-content>
        <p>• Silvia Moncada (Abuela)</p>
        <p>• Pablo Sanchez (Hermano)</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="tarjetas">
      <mat-card-title>Familia Prieto</mat-card-title>
      <mat-card-subtitle>2 miembros</mat-card-subtitle>
      <mat-card-content>
        <p>• Gustavo Prieto (Sobrino)</p>
        <p>• Andrea Lopez (Hermana)</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
